[2020-03-04 15:20] emielvanderhoek opened #1 "Polkascan internationalization: Russian translation"
# Polkascan internationalization: Russian translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of

[2020-03-04 18:43] emielvanderhoek opened #3 "Polkascan internationalization: Japanese translation"
# Polkascan internationalization: Japanese translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of

[2020-03-04 18:44] emielvanderhoek opened #4 "Polkascan internationalization: Korean translation"
# Polkascan internationalization: Korean translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of S

[2020-03-04 18:45] emielvanderhoek opened #5 "Polkascan internationalization: Spanish translation"
# Polkascan internationalization: Spanish translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of

[2020-03-04 18:46] emielvanderhoek opened #6 "Polkascan internationalization: Portugese translation"
# Polkascan internationalization: Portugese translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help o

[2020-03-04 18:47] emielvanderhoek opened #7 "Polkascan internationalization: Ukrainian translation"
# Polkascan internationalization: Ukrainian translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help o

[2020-03-04 18:48] emielvanderhoek opened #8 "Polkascan internationalization: French translation"
# Polkascan internationalization: French translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of S

[2020-03-05 09:03] emielvanderhoek opened #9 "Polkascan internationalization: German translation"
# Polkascan internationalization: German translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of S

[2020-03-05 09:03] emielvanderhoek opened #10 "Polkascan internationalization: Turkish translation"
# Polkascan internationalization: Turkish translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of

[2020-03-05 09:04] emielvanderhoek opened #11 "Polkascan internationalization: Thai translation"
# Polkascan internationalization: Thai translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of Sub

[2020-03-05 09:04] emielvanderhoek opened #12 "Polkascan internationalization: Dutch translation"
# Polkascan internationalization: Dutch translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of Su

[2020-04-16 09:31] chevdor opened #14 "Registrar #1 Display name and status incorrect"
Location: https://polkascan.io/pre/kusama/account/registrars
Registrar #1 shows as:
![image](https://user-images.githubusercontent.com/738724/79439868-a0c13680-7fd5-11ea-8c16-d3420cdeb92f.png)

In the PolkadotJS  UI it shows properly:
![image](https://user-images.githubusercontent.com/738724/79439923-b33b7000-7fd5-11ea-91cc-524e420ab9b7.png)

Beside, I would be interested in knowing where this `Te

[2020-04-16 09:32] chevdor opened #15 "Index in the list are confusing"
Location: https://polkascan.io/pre/kusama/account/registrars

![image](https://user-images.githubusercontent.com/738724/79440021-d108d500-7fd5-11ea-91f1-a04f30ea81d5.png)

There is a high chance to confuse users with that.
I think it would be best in this page to show the INDEX of the registrars.

So gav = 0, registrar #1 = 1, Marwin = 2 etc...

[2020-04-20 09:37] chevdor commented on #14
Any news on this issue?

It is rather alarming if the UI of Polkascan does not show 100% the state of the chain and it raises the question whether some other discrepancies exist between displayed values and on-chain state.

Please note that Polkascan does see the registrar verification:
https://polkascan.io/pre/kusama/account/Fom9M5W6Kck1hNAiE2mDcZ67auUCiNTzLBUdQy4QnxHSxdn#identity

![image](https

[2020-04-22 13:44] arjanz commented on #14
I ran some tests and locally it shows the correct identity, so not sure why it shows like that on Polkascan, we are still investigating.. Obviously we have our 'mini state-machine' that could get out of sync when events or calls change due to runtime upgrades, but this doesn't seem to be the issue in this case. We will keep you updated if this is a bug or some faulty data was unintentionally synce

[2020-04-26 00:14] illlefr4u commented on #1
started working on it

[2020-04-28 19:29] Mitchell-Grimes opened #17 "Staking events for slash appears to be quite old"
Location: https://polkascan.io/pre/kusama/event?module=staking&event=Slash&page=1

![image](https://user-images.githubusercontent.com/52660893/80528945-b97e0480-8964-11ea-98a9-6ae21faf0fcf.png)

Blocks appear to be fairly far back for slashing events. Are events for slashing where governance deferred them not something that shows up here?

[2020-04-29 20:01] Web3Foundation commented on #1
@illlefr4u hey apply for this bounty and you'll be good to start working on it.

[2020-05-02 11:22] chevdor commented on #14
Any news on this issue ?

[2020-05-07 12:39] srisankethu commented on #3
I am interested on working on a Hindi translation - 390 million native speakers and 490 total speakers.

[2020-05-11 08:58] Web3Foundation commented on #1
@illlefr4u Thank you for all the work you put into this! We are looking for ways how to improve our bounty program and would like to ask you fill out a quick form, takes about a minute, thanks!

https://info.polkadot.network/bounty-completion-satisfaction-survey

[2020-05-12 14:05] emielvanderhoek opened #19 "Polkascan internationalization: Hindi translation"
# Polkascan internationalization: Hindi translation

## About Polkascan OS (for Polkadot Runtime Environments)
Polkascan OS provides an open-source block explorer for any Substrate-based blockchain. Polkascan OS consists of a number of distinct software artifacts which collectively orchestrate Polkascan. The Harvester transforms a Substrate node’s raw data into relational data, with the help of Su

[2020-05-12 14:07] emielvanderhoek commented on #1
Closed through: https://github.com/polkascan/polkascan-explorer-gui/pull/18

[2020-05-12 14:07] #1 closed

[2020-05-12 14:08] emielvanderhoek commented on #3
@srisankethu Let's move that discussion here: https://github.com/polkascan/polkascan-explorer-gui/issues/19

[2020-05-18 12:37] chevdor commented on #14
I see you managed to remove the "tester" label on Registrar #1

![image](https://user-images.githubusercontent.com/738724/82213742-f1012080-9914-11ea-9815-352c9b4b8e54.png)

However, display name and verification status are still missing. Did you identify the issue?

[2020-05-19 09:49] srisankethu commented on #19
@emielvanderhoek I am interested on working on a Hindi translation. Sorry for the late response

[2020-05-20 18:15] srisankethu commented on #19
@emielvanderhoek Can I start working on it?

[2020-05-22 12:29] emielvanderhoek commented on #19
I'll get back to you early next week.

[2020-05-26 08:35] emielvanderhoek commented on #19
Hello @srisankethu could you elaborate a bit on your qualifications for this task? I understand/assume you are a native/fluent in Hindi. Additionally, this task in is covers quite some technical terms. LMK.

[2020-05-26 08:40] emielvanderhoek commented on #4
Thank you for your efforts @problem-halting

Would you please be so kind to send me a signed Contributor License Agreement as mentioned in this issue? You can send that signed document to "emiel AT web3scan DOT eu".

After that I'll ask to get this merged and we can go towards bounty payout.

[2020-05-26 11:13] srisankethu commented on #19
@emielvanderhoek Hello! My qualifications would be:
1. I am fluent with Hindi.
2/ I am a student and I have been observing the blockchain space since 2017.
3. I have done some blockchain mini-projects too.
4.I have also worked on some documentation related Gitcoin bounties which required understanding the working of the blockchain project.

I think I can complete this task.

[2020-05-26 13:26] problem-halting commented on #4
Sent! Thank you!

[2020-05-26 15:07] emielvanderhoek commented on #4
The Korean language pack has been merged and accepted. We'll close this issue in order for the Gitcoin Bounty to go to payout. Thank you very much @problem-halting

![image](https://user-images.githubusercontent.com/14069142/82917137-4cfe2180-9f73-11ea-8bdc-2b0a87356d1d.png)

[2020-05-26 15:07] #4 closed

[2020-05-29 10:42] emielvanderhoek commented on #19
@srisankethu : The Gitcoin Bounty has been assigned to this issue. You can start the work by following the instructions above. I suggest you take a peek here: https://github.com/polkascan/polkascan-explorer-gui/pull/20

These delivery notes for the Korean translation are very good and may help you as guidance during the translation.

Good luck!

[2020-05-29 11:05] Web3Foundation commented on #4
@problem-halting Thank you very much for taking part in this bounty! We are trying to continuously improve the program and would like to ask you to take a minute and fill out this survey: https://gitcoin.co/issue/polkascan/polkascan-explorer-gui/4/4370 Your response and contribution is highly appreciated!

[2020-05-29 11:27] srisankethu commented on #19
@emielvanderhoek Thanks!

[2020-05-30 15:41] srisankethu commented on #19
@emielvanderhoek I have started working on it. Please approve me on Gitcoin. Thanks.

[2020-05-31 07:14] srisankethu commented on #19
Added a WIP [PR](https://github.com/polkascan/polkascan-explorer-gui/pull/21)

[2020-06-06 14:10] DAle-q commented on #7
Waiting for approve https://github.com/polkascan/polkascan-explorer-gui/pull/22  , thanks.

[2020-06-09 12:47] emielvanderhoek commented on #7
PR #22 has been merged. We have accepted the changes. Thank you very much @DAle-q
We will close this issue in order for the bounty to go to payout.

[2020-06-09 12:47] #7 closed

[2020-06-10 11:42] nicemarcela commented on #6
Hello there!
Sure, I'm still working on this issue. I've got some problems installing
docker and it got me some time to sort it out.
I'll provide a WIP asap!

Best,
Marcela.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-em

[2020-06-10 14:01] illlefr4u opened #24 "Some accounts on the Polkadot are not shown"
After the runtime upgrade, some accounts on the Polkadot-cc1 stopped showing.
Example: https://polkascan.io/polkadot-cc1/account/1eyC4V2g9evgUTJHib4sq53FCNBbgCw9UV61agWtYG1Zsjh
And this account exist on the network:
https://polkadot-cc1.subscan.io/account/1eyC4V2g9evgUTJHib4sq53FCNBbgCw9UV61agWtYG1Zsjh

Perhaps this is due to the fact that the bonded amount is higher than the total balance, respec

[2020-06-11 09:35] Web3Foundation commented on #5
@emielvanderhoek Any preferred worker?

[2020-06-11 09:40] emielvanderhoek commented on #5
@Web3Foundation

I’d go for @federicosan because of the awareness of other ecosystem stuff.

Apologies @pablocgl. I have to make a choice unfortunately.

[2020-06-11 09:41] nazariyv commented on #7
Aren't you supposed to get approved before working on the task? I was waiting to get approved all this time and it turns out that someone just started the work before waiting for the approval.

[2020-06-11 09:48] Web3Foundation commented on #19
@emielvanderhoek Are you happy with the work submission? Can we make a bounty payout?

[2020-06-11 10:10] emielvanderhoek commented on #7
Yeah sorry for that. We are trying to figure this how the Gitcoin flow works.

Unfortunately I can no longer change this since the PR was already accepted.

Fortune favors the bold apparently. Again my apologies.

[2020-06-11 10:17] emielvanderhoek commented on #19
We will be evaluating today or tomorrow.

[2020-06-11 10:21] emielvanderhoek commented on #8
Well if you are going to use Google Translate we wouldn't need a translator, we could do it ourselves.

I am going to suggest 'reject worker' for @trucnguyenthi for this Gitcoin Bounty.

@W3F

[2020-06-11 10:39] Tbaut commented on #8
Happy to do it @emielvanderhoek, unless you'd like to let someone from the broader community do it.

[2020-06-11 11:10] emielvanderhoek commented on #8
I am confident that you'd make the perfect translation @Tbaut .

[2020-06-12 12:44] emielvanderhoek commented on #19
Merged. Closing in order to go towards bounty payout.
Thank you @srisankethu

[2020-06-12 12:44] #19 closed

[2020-06-12 12:46] emielvanderhoek commented on #8
@w3f can you accept @Tbaut as worker.

[2020-06-13 01:18] Web3Foundation commented on #19
@srisankethu Thank you for all the work you put into this! We are looking for ways how to improve our bounty program and would like to ask you fill out a quick form, takes about a minute, thanks!

https://info.polkadot.network/bounty-completion-satisfaction-survey

[2020-06-13 07:47] srisankethu commented on #19
Please let me know if there are similar works under Web3Foundation. I have filled the form. Thank you.

[2020-06-17 06:51] federicosan commented on #5
@emailvanderhoek Hi, I did not receive the notification on this bounty. Could you please mark me as approved for work? thank you.

[2020-06-17 09:06] emielvanderhoek commented on #5
I am awaiting response from Web3 Foundation @federicosan

[2020-06-17 16:52] nicemarcela commented on #6
Hey guys!
Did you get the time to take a look at the translation?
Feedback is very welcome! 😃

[2020-06-18 06:15] emielvanderhoek commented on #6
We will schedule evaluation of #25 today.

[2020-06-18 09:41] nicemarcela commented on #6
**Polkascan Portuguese Translation MEMO**

_Call_

In this context “Call” is a functor allowing a published function to be called with a set of arguments. In Portuguese, “to call” means “chamar” or “ligar”, it has the literal meaning of calling someone, screaming, or calling by phone.
The term was maintained without translation to don’t lose its meaning. It’s also not usually translated in web dev

[2020-06-19 10:23] emielvanderhoek commented on #17
Indeed now slashes have taken place.

[2020-06-19 10:23] #17 closed

[2020-06-19 10:25] emielvanderhoek commented on #5
@Web3Foundation can we start with this task? Check my comments above. thx

[2020-06-19 11:07] emielvanderhoek commented on #6
PR has been evaluated, accepted and merged. Thank you @nicemarcela .
We will close the issue in order to to towards payout.
![afbeelding](https://user-images.githubusercontent.com/14069142/85126436-c36a0880-b22d-11ea-96e0-c1e02c753f2f.png)

[2020-06-19 11:07] #6 closed

[2020-06-19 15:17] nicemarcela commented on #6
Awesome! You can count on me for the next ones!
Thank you. 😄

[2020-06-22 12:50] Web3Foundation commented on #8
@nightwolf3 I approved you so you can feel free to start work, @Tbaut can you help review after he's finished up with work?

[2020-06-22 12:51] Web3Foundation commented on #5
@federicosan you've been approved to start work.

[2020-06-22 21:14] dhruv10 commented on #8
Hey @Web3Foundation

I'm a blockchain dev fulfilling all your asks. I'm fluent in French and I've also delivered projects for Polkadot. (As part of an R&D company)
I had already translated the file but just got to know that I need to be assigned in order to officially start the work and make a PR. Can you please guide how to proceed now?

[2020-06-22 22:59] nightwolf3 commented on #8
Thank you, it will be done in three days tops

[2020-06-23 15:34] nightwolf3 commented on #8
I have finished checking and translating the fr.json and wrote the memo for what terms had to be taken as is from English.
 I will be testing the feature in a couple of hours and will send a PR when done.

[2020-06-25 01:41] nightwolf3 commented on #8
@emielvanderhoek I am done and want to make a PR but where should I send the signed contributor agreement?

[2020-06-25 11:48] nightwolf3 commented on #8
@gitcoinbot @emielvanderhoek any guidelines?

[2020-06-26 06:39] emielvanderhoek commented on #8
You can send the signed CLA to 'emiel__AT__web3scan__DOT__eu'.
As for guidelines for the PR... nothing besides that which is stated in this issue.

[2020-06-29 15:35] chevdor commented on #14
Any news ?

[2020-06-29 17:10] nightwolf3 commented on #8
@emielvanderhoek I will be emailing you please reply back to confirm you got the contributor agreement
@gitcoinbot yes I will be submitting a PR by tonight

[2020-06-29 19:18] Web3Foundation commented on #5
@federicosan are you still working on this? Please submit a WIP PR if so, otherwise, we'll need to move to a new candidate.

[2020-06-29 19:24] Web3Foundation commented on #6
@nicemarcela Thank you for all the work you put into this! We are looking for ways how to improve our bounty program and would like to ask you to fill out a quick form, takes about a minute, thanks.

https://info.polkadot.network/bounty-completion-satisfaction-survey

[2020-06-30 14:02] Web3Foundation commented on #3
@graceslsne8 you've been approved to start work!

[2020-07-01 00:30] federicosan commented on #5
Hi, I did not abandond this, but you set this to never expire, you should put an expiration date so I can organize my schedule I have many many things going on, I need to prioritize.

Some updates. I already forked the repository installed docker image on my Linux VM and started the translation, I have been using some reference for the translation, as it is technical I needed to know how are terms

[2020-07-01 10:05] federicosan commented on #5
Question: Have the English keys been written by a native English speaker? Because I am seeing a lot of English keys that don't seem to be good English, at least the tones on the es.json file.

[2020-07-01 16:34] nightwolf3 commented on #8
@emielvanderhoek @gitcoinbot I submitted the PR and emailed the contributor agreement at emiel@web3scan.eu

[2020-07-01 17:15] nightwolf3 commented on #8
@emielvanderhoek do you have telegram or discord?

[2020-07-03 07:38] nightwolf3 commented on #8
@Web3Foundation @gitcoinbot @emielvanderhoek
Hello, is anything wrong emiel? emiel__AT__web3scan__DOT__eu it was a weird format to see an email like that but I posted the one I sent it to. get back to me if there is anything missing. thank you

[2020-07-03 10:19] emielvanderhoek commented on #8
Thank you. We received the CLA.
Is the PR #26 complete?
Would you be so kind to include a written memo in the comments of this issue or PR #26 that explains some choices you made with this translation:

You can check out some of the other completed translations to see how others have submitted these notes. (example: https://github.com/polkascan/polkascan-explorer-gui/pull/20)

After receipt of tha

[2020-07-03 10:20] nightwolf3 commented on #8
@emielvanderhoek Yes I wrote it sorry, I'll email it to you now is that alright?

[2020-07-03 10:22] emielvanderhoek commented on #8
Please include that memo in the comments of this issue. (please do not email it).

[2020-07-03 10:23] nightwolf3 commented on #8
@emielvanderhoek sorry I just did
but I will add it to the comment issue now

[2020-07-03 10:25] nightwolf3 commented on #8
done

[2020-07-03 10:27] emielvanderhoek commented on #8
Thank you. We will evaluate your work today.

[2020-07-03 10:28] nightwolf3 commented on #8
alright thank you and I hope it's up to par with what you needed

[2020-07-03 11:10] emielvanderhoek commented on #8
We evaluated, accepted and merged the PR. We can go towards bounty payout. Thank you very much for your efforts. @Web3Foundation

[2020-07-03 11:10] #8 closed

[2020-07-03 11:22] nightwolf3 commented on #8
I'm glad and would love to help you out again.
@Web3Foundation I am applying for the ambassador program btw as suggested

[2020-07-03 11:33] nightwolf3 commented on #8
@emielvanderhoek could you please notify me when you send the payout? I never received DAI usually ETH so I want to make sure I submitted correctly. Thank you in advance

[2020-07-03 11:56] nightwolf3 commented on #8
I didn't receive the payout yet, is something wrong ?
I submitted work on gitcoin along with my address

[2020-07-03 13:58] nightwolf3 commented on #8
@emielvanderhoek is everything alright?
because I haven't received and incoming transactions?
my address was posted when I submitted the bounty.
thank you in advance

[2020-07-03 14:03] emielvanderhoek commented on #8
Payment goes through Web3 Foundation. They usually process payments once a week after we close the issue (and thus accept the work). So you may need some patience for a couple of days...

[2020-07-03 14:04] nightwolf3 commented on #8
oh, sorry I didn't know. guess my last bounty got lucky lol.
thanks

[2020-07-03 14:31] emielvanderhoek commented on #8
FWIW you can check out the result of your work on polkascan.io

![image](https://user-images.githubusercontent.com/14069142/86476716-5b481600-bd47-11ea-81e2-49796f171d48.png)

[2020-07-03 17:07] nightwolf3 commented on #8
It's worth a lot
thank you for reminding me, am proud tbh. Until next time

[2020-07-03 19:18] dhruv10 commented on #3
@Web3Foundation I have asked for approval before @GracesIsne8, and this is unfair to assign the work to someone else. With all respect, can you tell me why I wasn't assigned?

[2020-07-04 15:07] Graceslsne8 commented on #3
I have started working on this and am about 1/3 finished.

[2020-07-05 04:16] Graceslsne8 commented on #3
@emielvanderhoek  @Web3Foundation
I have created a WIP PR and will continue to work on it.

[2020-07-05 21:00] federicosan commented on #5
I am still working on this issue. Will have more updates soon.

[2020-07-08 08:23] Graceslsne8 commented on #3
@Web3Foundation @emielvanderhoek
Hey there. I have finished the translation. Please check.

[2020-07-09 22:49] federicosan commented on #5
Still working on this. Please update if there is some kind of deadline for this, or what are your expectations so I know what priority to set this on, I am translating on a daily basis, but there are a lot of entries on this file.

[2020-07-12 03:39] federicosan commented on #5
Still working on this, I will update soon with some count on the words.

[2020-07-13 16:17] emielvanderhoek commented on #3
We will review the work this week.

[2020-07-18 16:11] federicosan commented on #5
Still working on this

[2020-07-20 09:23] emielvanderhoek commented on #5
@Web3Foundation I am going to recommend to give this bounty to another contributor.

[2020-07-20 17:15] chevdor commented on #14
The issue or a similar one also shows up on CC1.
Some definitely verified accounts are showing a wrong status despite the judgement being visible to Polkascan.

Some examples below:
![image](https://user-images.githubusercontent.com/738724/87965984-e56cda00-cabc-11ea-88c7-180ab0f63da8.png)

![image](https://user-images.githubusercontent.com/738724/87966014-f0276f00-cabc-11ea-9de3-ed96a9b03395.png)

[2020-07-20 17:16] Web3Foundation commented on #5
@federicosan; let us know your progress so far, submitting a WIP PR would help stay on the contribution loop here. We have lots of other contributors in Espanol if you need some help with progressing, glad to recommend someone to help finalize if so.

[2020-07-20 17:17] chevdor commented on #14
As far as Kusama is concerned, there was a change, now no status is visible at all for Registrar #1:
![image](https://user-images.githubusercontent.com/738724/87966419-8b204900-cabd-11ea-8a5e-e7af42f4152f.png)

[2020-07-20 17:53] emielvanderhoek commented on #14
We are aware of those problems. This requires substantial refactoring and will be scheduled sometime in August.

[2020-07-20 18:01] chevdor commented on #14
Can you explain what the issue is and why it affects some accounts and not some others ?

[2020-07-20 18:24] arjanz commented on #14
It has to do with the fact that we use the data from the referenced extrinsic of the `IdentitySet` and `JudgementGiven` events to determine what the identity data is or what judgement is given. But with the introduction of batched calls and sudo calls, this mechanism gets confused because the actual data is wrapped in a `Vec` or positioned elsewhere in the call. You can see this as an 'internal ca

[2020-07-20 18:37] chevdor commented on #14
Thanks for the explanation, that totally makes sense, and you can probably add `proxy.*` calls to the list.

[2020-07-25 01:44] federicosan commented on #5
I am still working on this

[2020-07-25 02:03] federicosan commented on #5
This work will be finished by the 1st of August please tell me if this works for you.

[2020-07-25 18:37] lsaether opened #29 "Double "0x" prefix on Ethereum address in the Claimed event"
In the [Claimed events](https://polkascan.io/polkadot/event/862745-4) the ethereum address is double prefixed by "0x". There should be just one.

[2020-07-25 20:42] #29 closed

[2020-07-26 18:38] emielvanderhoek commented on #3
Thank you @Graceslsne8
The PR has been merged. The Bounty can now go to payout. @Web3Foundation
![afbeelding](https://user-images.githubusercontent.com/14069142/88486693-dcc64900-cf7f-11ea-9717-532a408bed4b.png)

[2020-07-26 18:38] #3 closed

[2020-07-28 22:49] federicosan commented on #5
This work will be finished by August 1st please tell me if this works for you. Please reply

[2020-07-31 07:29] Web3Foundation commented on #3
Hey @Graceslsne8 Your bounty has been paid out. In order to further improve our bounty program we would like to ask you to fill out this quick survey: https://info.polkadot.network/bounty-completion-satisfaction-survey

It will literally take you a minute and help greatly improve what we do.

Thank you,
W3F

[2020-07-31 07:36] Web3Foundation commented on #5
That is OK for us and probably for @emielvanderhoek as well, since 1. Aug is tomorrow. Looking forward to your work submission.

[2020-07-31 07:37] Web3Foundation commented on #9
@emielvanderhoek Would you like to approve any of the above workers?

[2020-07-31 07:46] Web3Foundation commented on #7
Hey @DAle-q thank you for working on this bounty. We are trying to further improve the experience of our bounties and would like to ask you for some feedback. Please take a minute and fill out this survey: https://info.polkadot.network/bounty-completion-satisfaction-survey

It will literally take you a minute and can greatly improve the W3F bounties program.

Thank you,
W3F

[2020-07-31 07:49] Web3Foundation commented on #8
Hey @nightwolf3 Thank you for taking part in this bounty and successfully submitting your work! As we try to improve our bounties program, we would like to ask you to fill in this very short survey.

https://info.polkadot.network/bounty-completion-satisfaction-survey

It will literally take you a minute but can help greatly improve the W3F bounties program.

Thank you,
W3F

[2020-07-31 12:27] nightwolf3 commented on #8
done and thank you for the opportunity

[2020-08-01 00:02] federicosan commented on #5
I have just finished translating the keys for the es.json dictionary I want to state that this job needs to be reviewed by me again with more detail. The reason is the following, I am a professional copywriter with experience in copywriting I really value my work, and I worked for world-known brands in the past. During this work, I had to keep reading the Polkadot wiki, there the Spanish translati

[2020-08-01 06:04] federicosan commented on #5
I I am having some troble testing this, I set everything right as instructed, but the option to change the to spanish is not appearing on master branch on my VM, also some laguages maybe Asian and Russian are not rendering properly. I set to look at the app.component.ts file and es is not listed as an language option there, maybe I need to change this and add it?

[2020-08-01 06:30] federicosan commented on #5
Ok, today I will be fixing some mistakes I made on the Menu navbar. And today August 1st some other things up. And I hope I can finish by the end of the day to be on time with my promise.

[2020-08-02 03:16] federicosan commented on #5
I will need some more days to test this. I hope you understand. Thank you for your patience. The translation is ready but the testing has some mistakes.

[2020-08-02 21:40] emotemot commented on #10
https://github.com/polkascan/polkascan-explorer-gui/pull/32#issue-461859181

Translation completed.

[2020-08-02 22:28] emielvanderhoek commented on #10
@Web3Foundation the work is already complete through #32 . Please approve this worker.

[2020-08-02 22:31] emielvanderhoek commented on #10
Thank you for your efforts @emotemot

Would you please be so kind to send me a signed Contributor License Agreement as mentioned in this issue ? You can send that signed document to "emiel AT web3scan DOT eu".

Additionally, Would you be so kind to include a written memo in the comments of this issue or PR #33 that explains some choices you made with this translation. This is part of the required

[2020-08-03 14:08] emotemot commented on #10
- Finance-specific terms were translated according to the standard Turkish translation in Turkish financial institutions. These include balance (bakiye), transaction (işlem), deposit (yatır), amount (tutar), bonded (teminatlı), treasury (hazine), stake (hisse), call (cağır), contract (sözleşme).

- Voting/Government specific terms were translated according to the standard Turkish law terms. Such a

[2020-08-04 08:27] emielvanderhoek commented on #10
Thank you @emotemot
Perfect. We will evaluate and merge your PR.
After that we can go towards payout.

[2020-08-04 19:18] emielvanderhoek commented on #10
@emotemot #32 PR has been merged. Thank you for your contribution.

@web3foundation: we can go towards payout.

[2020-08-04 19:18] #10 closed

[2020-08-10 16:16] kedMertens commented on #11
@emielvanderhoek @arjanz could you please approve me so that I can submit work from gitcoin?

[2020-08-10 19:22] Web3Foundation commented on #5
@federicosan please submit on Gitcoin once you are done so that we can make the payout, you've been working hard on this one :)

[2020-08-10 19:24] Web3Foundation commented on #10
@emotemot please submit on Gitcoin as well so that we can make the payout.

[2020-08-12 15:24] kedMertens commented on #11
@emielvanderhoek, @arjanz  any feedback on the issue?

[2020-08-16 20:21] federicosan commented on #5
@Web3Foundation Thank you everyone, for being patient with me.

[2020-08-18 07:36] kedMertens commented on #11
@Web3Foundation, @emielvanderhoek any progress ?

[2020-08-25 07:46] Web3Foundation commented on #9
@emielvanderhoek are any of the above applicants suitable for you?

[2020-08-25 07:50] Web3Foundation commented on #11
@emielvanderhoek would you like to approve @kedMertens ?

[2020-08-27 11:00] emielvanderhoek commented on #11
Yes all good. Sincere, apologies for the delay.
@Web3Foundation payout approved.

[2020-08-27 11:00] #11 closed

[2020-08-27 11:09] emielvanderhoek commented on #9
Apologies for the delay. To be honest it is always hard to choose between workers when there are many applications and little differentiating factors between their motivations. It is unfortunate I can only pick one worker.

So I am going to pick @pablocgl because this person states to be a native German speaker and is up to speed with the context of the bounty.

@Web3Foundation

[2020-08-27 12:45] emielvanderhoek commented on #5
Spanish translation has been merged and activated. Thank you @federicosan
@Web3Foundation we can go to payout.

![afbeelding](https://user-images.githubusercontent.com/14069142/91443608-d8899600-e873-11ea-8993-34d2ce9dbcca.png)

[2020-08-27 12:45] #5 closed

[2020-08-29 11:01] PabloCGL commented on #9
Thanks! I`ll wait for confirmation on gitcoin and then start work ASAP.

[2020-08-31 10:54] kedMertens commented on #11
@emielvanderhoek, @Web3Foundation Thanks! Do I need to do something on gitcoin to proceed?

[2020-09-02 08:53] federicosan commented on #5
Can I keep working on this? There is at least one typo I need to correct.

[2020-09-02 10:56] emielvanderhoek commented on #5
Sure we'd appreciate any fix you may have.

[2020-09-02 15:28] Web3Foundation commented on #11
@kedMertens Nope! Taking care of things now, thanks for the patience.

[2020-09-02 15:43] Web3Foundation commented on #11
Hey, @kedMertens  Thank you for taking part in this bounty and successfully submitting your work! As we try to improve our bounties program, we would like to ask you to fill in this very short survey.

https://info.polkadot.network/bounty-completion-satisfaction-survey

It will take you a minute and can help greatly improve the W3F bounties program.

Thank you,
Hutch - Contact me at chris@web3.fou

[2020-09-02 23:34] federicosan commented on #5
Thanks. I will submit to gitcoin when the gas price decreases, it is between $40 and $20 these days :(

[2020-09-03 18:51] emielvanderhoek commented on #5
You don't have to use Gitcoin for a PR on our repo.

[2020-09-04 10:22] federicosan commented on #5
I need to submit work for the bounty payment or do you know any other way?

[2020-09-08 08:06] Web3Foundation commented on #5
@federicosan Yes, please make a work submission on Gitcoin so that we can make a payout. Thanks!

[2020-09-08 08:09] Web3Foundation commented on #9
@PabloCGL Apologies for the delay, you have been approved on Gitcoin and you may proceed. Once you are done, please make a work submission via Gitcoin as well so that we can make a payout. Thanks!

[2020-09-11 10:39] PabloCGL commented on #9
Short update:  Translation is going along nicely. I'll be away for the weekend, but if everything goes as expected it should be finished by the end of next week.

[2020-09-13 02:40] federicosan commented on #5
@Web3Foundation Done!

[2020-09-15 17:32] federicosan commented on #5
@Web3Foundation if you can make the payment soon I would like to fund some grants. thank you

[2020-09-15 22:59] PabloCGL commented on #9
Hi, are the instructions for setting up the angular application still up to date? I am trying to test the translation but after building and running the docker instance it doesn't fetch any data from the network, which leaves my with a barebones page structure...

[2020-09-18 00:21] PabloCGL commented on #9
Translation and Memo finished- one last revision tomorrow and I'll proceed to delivery.

[2020-09-18 17:20] PabloCGL commented on #9
Pull request here: https://github.com/polkascan/polkascan-explorer-gui/pull/38

**Memo for the German Translation**
Following translations of core concepts have been chosen, in hope of being intuitive and to simplify cross-language switching:

_Nominator <-> Nominator, plural Nominierer
Validator <-> Validator, plural Validierer
Registrar <-> Registrator, plural Registrierer
Indexer <-> Indexer, p

[2020-09-21 01:45] owocki commented on #5
hey @Web3Foundation @ceresstaion can you pls remit payout!  thanks

[2020-09-21 01:46] owocki commented on #5
@ceresstation

[2020-09-22 08:34] Web3Foundation commented on #5
@federicosan We are experiencing delays with payouts due to insane GAS fees on the Ethereum network. If we would process your payment right now, the transaction would cost $530 USD.

![image](https://user-images.githubusercontent.com/48550657/93860197-fe615980-fcbe-11ea-9520-0164c319426c.png)

[2020-09-22 17:39] owocki commented on #5
hey @Web3Foundation typically when a txn is going to error, metamask will show a very very high gas fee..  i think thast why you're getting that estimate.  can you make sure it's being submitted via 0xd9d21d54fb2bf93afc62a7115a2518682a50508b and that the account has enough $$$ for gas (0.02 ETH should suffice) and try again?

[2020-09-25 20:33] owocki commented on #5
@Web3Foundation alternatively you can just pay @federicosan via gitcoin.co/tip !

[2020-09-27 12:41] PabloCGL commented on #9
Hi, everything ok with the submission?

[2020-09-27 23:48] federicosan commented on #5
Gas prices are ok now.

[2020-09-28 11:09] emielvanderhoek commented on #9
Thank you and apologies for the delay from our end.
Would you be so kind to send us a signed/scanned copy of our CLA to emiel_AT_polkascan_DOT_org.
[POLKASCAN-FOUNDATION_(HA-CLA-I)_v1.0.2.pdf](https://github.com/polkascan/polkascan-explorer-gui/files/5291785/POLKASCAN-FOUNDATION_.HA-CLA-I._v1.0.2.pdf)
After receipt we will merge your work and go towards payout.

[2020-09-28 14:28] PabloCGL commented on #9
Done!

[2020-09-28 17:42] emielvanderhoek commented on #9
The PR has been merged. The work is complete.
@Web3Foundation : please go towards payout of the bounty,

[2020-09-28 17:42] #9 closed

[2020-09-28 17:42] emielvanderhoek commented on #9
![image](https://user-images.githubusercontent.com/14069142/94467122-c7a9a880-01c2-11eb-9f0f-69db32fed8db.png)

[2020-09-30 20:27] federicosan commented on #5
@Web3Foundation I have one last day to contribute to gitcoin grants, those DAI may come in handy. Please if you can make the payment before that t I will be grateful forever.

[2020-09-30 20:32] Web3Foundation commented on #5
@federicosan done! Apologies for the hold up.

[2021-02-03 05:12] electic opened #39 "Fee missing"
Hi everyone. Was using Polkascan and the fee for a transfer seems to be missing. Am I doing something wrong? https://polkascan.io/polkadot/transaction/0xe7342bf9069a06c4a8e6f131ced5e419fa0f79a3f29ca246b42b4c4bd9b66f76

[2021-07-07 09:24] michalisFr opened #52 "Balances don't update"
Two users have reached out to Polkadot support reporting that their account balances don't update properly. They can see the transfer and their balance history shows the updated balance, but the amount of the account's balance doesn't.

Here's an example of one of them:
https://polkascan.io/polkadot/account/147nqfgai5Vc4Wy7XkXubYiz4zELA9N6YrXSCL4hLooq6h6V#balance-history

<img width="414" alt="Dmp